[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false
name = "pypi"

[packages]
requests = "*"
"beautifulsoup4" = "*"
lxml = "*"
cryptography = "*"
redis = "*"
celery = "*"
WeRoBot = "*"
Flask = "*"
Flask-Mail = "*"
python-dotenv = "*"
xmltodict = "*"

[dev-packages]

[requires]
python_version = "3.6"
